buildhelp {
    position: absolute;
    top: 50%;
    left: 120px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;

    inputhint {
        margin-top: 8px;
        align-items: center;

        .glyph {
            margin-right: 8px;
        }
    }
}
