@import "/ui/_Common.scss";

buildhelp {
    position: absolute;
    bottom: 220px;
    left: 120px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    border-radius: 2px;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    inputhint {
        &:not(:first-child) {
            margin-top: 8px;
        }

        align-items: center;

        .glyph {
            margin-right: 8px;
        }
    }
}

.red-team {
    buildhelp inputhint image {
        background-image-tint: $red-team;
    }
}

.blue-team {
    buildhelp inputhint image {
        background-image-tint: $blue-team;
    }
}
