@import "/ui/_Common.scss";

buildhelp {
    position: absolute;
    bottom: 200px;
    right: $safe-area-x;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    border-radius: 2px;
    opacity: 0;
    align-items: flex-end;
    padding: 0 22px;
    width: 265px;

    &.visible {
        opacity: 1;
    }

    inputhint {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;

        &:not(:first-child) {
            margin-top: 8px;
        }

        align-items: center;

        .glyph {
            margin-right: 8px;
        }
    }
}

.red-team {
    buildhelp inputhint image {
        background-image-tint: $red-team;
    }
}

.blue-team {
    buildhelp inputhint image {
        background-image-tint: $blue-team;
    }
}
