@import "/ui/_Common.scss";

ChatBox {
    position: absolute;
    bottom: 250px;
    left: $safe-area-x;
    z-index: 99999999;
    flex-direction: column;
    width: 500px;
    font-size: 13px;
    border-radius: 2px;
    pointer-events: none;

    textentry {
        opacity: 0;
        color: white;
        padding: 15px 25px;
        backdrop-filter: brightness( 0.5 );
        flex-shrink: 0;
        flex-grow: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 0 0px 2px 2px;
        border-radius: 2px;
    }

    .canvas {
        flex-direction: column;
        align-items: flex-start;
        height: 400px;
        overflow: scroll;
        margin-bottom: 55px;
    }

    &.open {
        pointer-events: all;

        textentry {
            opacity: 1;
        }
    }
}

ChatEntry {
    margin-bottom: 5px;
    color: white;
    transition: all 0.1s ease-out;
    opacity: 1;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 10px 20px;
    max-width: 100%;
    transform: scale( 1 );
    width: 100%;
    align-items: center;
    background-color: rgba( $background, 0.5 );
    border-radius: 2px;

    &:intro {
        opacity: 0;
    }

    &.hide {
        opacity: 0;
        transition: all 1s ease-out;
    }

    &.expired {
        opacity: 0;
        transition: all 0.2s ease-out;
    }

    &.show {
        opacity: 1;
        transition: all 0.2s ease-out;
    }

    &.information {
        .message {
            color: $background;
        }
    }

    &:outro {
        opacity: 0;
        transition: all 2s ease-out;
    }

    image {
        height: 32px;
        aspect-ratio: 1;
        border-radius: 100px;
        margin-right: 8px;
    }

    .name {
        padding-right: 10px;
        font-weight: 600;
        font-size: 14px;
        flex-shrink: 0;
    }

    .message {
        color: white;
        font-size: 14px;
        flex-grow: 1;
    }


    &.red-team {
        .name {
            color: $red-team;
        }
    }

    &.blue-team {
        .name {
            color: $blue-team;
        }
    }

    &.noname .name {
        display: none;
    }

    &.noavatar image {
        display: none;
    }
}


.red-team {
    .information {
        background-color: rgba( $red-team, 0.5 );
    }
}

.blue-team {
    .information {
        background-color: rgba( $blue-team, 0.5 );
    }
}
