crosshair {
    position: absolute;
    transform: translateX( -50% ) translateY( -50% );
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    .element {
        position: absolute;
    }

    .el0 {
        background-color: white;
        border-radius: 1000px;
        width: 6px;
        height: 6px;
    }

    &.fortwarsweapon {
        .el0, .el1, .el2, .el3 {
            background-color: white;
            border-radius: 0;
        }

        .el0, .el1 {
            width: 8px;
            top: 50%;
            height: 2px;
            transform: translateY( -50% );
        }

        .el2, .el3 {
            width: 2px;
            left: 50%;
            height: 8px;
            transform: translateX( -50% );
        }

        .el0 {
            right: 8px;
        }

        .el1 {
            left: 8px;
        }

        .el2 {
            bottom: 5px;
        }

        .el3 {
            top: 5px;
        }
    }
}
