crosshair {
    position: absolute;
    transform: translateX( -50% ) translateY( -0% );
    mix-blend-mode: lighten;
    width: 1px;
    height: 1px;

    .element {
        position: absolute;
    }

    .el0 {
        background-color: #ff0;
        border-radius: 1000px;
        width: 6px;
        height: 6px;
    }

    &.fortwarsweapon {
        opacity: 0.2;
        transition: opacity 0.3s ease-out;

        .el0, .el1, .el2, .el3 {
            background-color: #ff0;
            border-radius: 0;
            transition: all 0.5s ease-out;
        }

        .el0, .el1 {
            width: 10px;
            top: -1px;
            height: 3px;
            border-radius: 2px;
        }

        .el2, .el3 {
            width: 3px;
            left: -1px;
            height: 10px;
            border-radius: 2px;
        }

        .el0 {
            right: 8px;
        }

        .el1 {
            left: 8px;
        }

        .el2 {
            bottom: 5px;
        }

        .el3 {
            top: 5px;
        }


        &.fire {
            opacity: 0.9;
            transition: opacity 0.01s ease-out;

            .el0, .el1, .el2, .el3 {
                transition: all 0.01s ease-in;
                background-color: #fa0;
            }

            .el0 {
                right: 60px;
                width: 3px;
            }

            .el1 {
                left: 60px;
                width: 3px;
            }

            .el2 {
                bottom: 60px;
                height: 3px;
            }

            .el3 {
                top: 60px;
                height: 3px;
            }
        }
    }
}
