crosshair {
    position: absolute;
    transform: translateX( -50% ) translateY( -50% );
    aspect-ratio: 1;
    top: 50%;
    left: 50%;

    .element {
        position: absolute;
    }

    .el0 {
        background-color: white;
        border-radius: 1000px;
        width: 6px;
        height: 6px;
    }

    &.fortwarsweapon {
        transition: opacity 0.3s ease-out;

        .el0, .el1, .el2, .el3 {
            background-color: white;
            border-radius: 0;
            transition: all 0.5s ease-out;
        }

        .el0, .el1 {
            width: 10px;
            top: 50%;
            height: 3px;
            transform: translateY( -50% );
        }

        .el2, .el3 {
            width: 3px;
            left: 50%;
            height: 10px;
            transform: translateX( -50% );
        }

        .el0 {
            right: 8px;
        }

        .el1 {
            left: 8px;
        }

        .el2 {
            bottom: 5px;
        }

        .el3 {
            top: 5px;
        }
    }
}
