@import "/ui/_Common.scss";

Dead {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( $background, 0.9 );
    padding: 50px 80px;
    z-index: $z-index-dead;
    backdrop-filter: blur( 0px );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale( 1.5 );
    transition: all 150ms ease;

    &.visible {
        opacity: 1;
        transform: scale( 1.0 );
        backdrop-filter: blur( 20px );
    }
}
