@import "/ui/_Common.scss";

InventoryBar {
    width: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: -2px;
    margin-left: 5px;

    InventoryIcon {
        box-shadow: 0 0 5px rgba( black, 0.5 );
        margin: 2px 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 2px;
        flex-wrap: wrap;
        padding: 5px 20px;
        opacity: 0.5;
        flex-grow: 1;

        label {
            color: $text;
        }

        &.active {
            opacity: 1;
        }
    }
}

.red-team {
    InventoryIcon {
        background-color: $red-team;
    }
}

.blue-team {
    InventoryIcon {
        background-color: $blue-team;
    }
}
