@import "/ui/_Common.scss";

InventoryBar {
    width: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: -3px;
    margin-right: 5px;
    transition: all 150ms ease;

    InventoryIcon {
        margin: 2px 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 2px;
        flex-wrap: wrap;
        padding: 5px 20px;
        opacity: 0.25;
        flex-grow: 1;
        background: linear-gradient( to left, $background, rgba( $background, 0 ) );
        border-right: 4px transparent;

        label {
            color: $background;
        }

        &.active {
            opacity: 1;
        }
    }
}

.red-team {
    InventoryIcon {
        &.active {
            border-right: $red-team;
        }

        label {
            color: $red-team;
        }
    }
}

.blue-team {
    InventoryIcon {
        &.active {
            border-right: $blue-team;
        }

        label {
            color: $blue-team;
        }
    }
}
