@import "/ui/_Common.scss";

Resources {
    position: absolute;
    top: $safe-area-y;
    left: $safe-area-x;
    flex-direction: row;
    background: linear-gradient( to right, $background, rgba( $background, 0 ) );
    border-left: 4px solid transparent;
    border-radius: 2px;
    padding: 10px 20px;

    Resource {
        align-items: center;
        justify-content: space-between;
        height: 75px;
        margin: 0 10px;
        flex-direction: column;

        .limit {
            font-size: 14px;
            margin-left: 4px;
            margin-top: 2px;
        }

        .icon {
            width: 100%;
            aspect-ratio: 1;
            background-size: cover;
            margin-right: 8px;
            background-position: center;
        }
    }
}


.red-team {
    Resources {
        border-left: $red-team;

        Resource .icon {
            background-image-tint: $red-team;
        }
    }
}

.blue-team {
    Resources {
        border-left: $blue-team;

        Resource .icon {
            background-image-tint: $blue-team;
        }
    }
}
