@import "/ui/_Common.scss";

roundstatus {
    position: absolute;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    bottom: $safe-area-y;
    left: 50%;
    transform: translate( -50% );
    transform-origin: 0% 0%;
    background: linear-gradient( to bottom, $background, rgba( $background, 0 ) );

    panel.round-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        width: 100%;
        margin-top: 5px;
        padding: 10px 0;
        border-radius: 2px;
        box-shadow: 0 0 5px rgba( black, 0.2 );

        label {
            width: 50%;
            text-align: center;
            flex-grow: 0;
            flex-shrink: 1;

            &.time {
                font-weight: bold;
                text-shadow: 0 0 5px rgba( black, 0.2 );
            }

            &.phase {
                text-transform: uppercase;
                text-shadow: 0 0 5px rgba( black, 0.2 );
            }
        }
    }

    .team {
        position: absolute;
        top: 50%;
        text-transform: uppercase;
        z-index: 1;
        color: $background;
        transform: translateY( -50% );
    }

    .blue.team {
        left: 10px;
    }

    .red.team {
        right: 10px;
    }

    .scores {
        flex-grow: 1;

        label.score {
            font-size: 24px;
            border-radius: 2px;
            color: $background;
            text-align: center;
            flex-shrink: 0;
            flex-grow: 1;
            padding: 5px 10px;

            &.score.blue {
                background-color: $blue-team;
                border-radius: 0 0 0 2px;
            }

            &.score.red {
                background-color: $red-team;
                border-radius: 0 0 2px 0;
            }
        }
    }
}
