@import "/ui/_Common.scss";

Victory {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.show {
        opacity: 1;
    }

    .win-label {
        font-size: 72px;
        font-style: italic;
        color: white;

        &.red {
            text-stroke: 16px $red-team;
        }

        &.blue {
            text-stroke: 16px $blue-team;
        }
    }
}
