@inherits Panel
@namespace Fortwars.UI
@attribute [StyleSheet]

<root>
    <img src="/ui/misc/avatar_border.png" class="avatar border"/>
    <img src="/ui/misc/avatar_background.png" class="avatar background"/>
    <img src=@GetClassIconUrl() class="avatar avatar-img"/>
    <div class="vitals-info">
        <div class="vitals-panel vitals-class">
            @PlayerClass
        </div>
        <div class="vitals-panel vitals-health">
            <iconpanel icon="add_box">add_box</iconpanel>
            <div class="bar">
                <div class="current" style="width: @GetHealthPercentage()%"></div>
            </div>
        </div>
        <div class="vitals-panel vitals-name">
            @Game.LocalClient.Name
        </div>
    </div>
</root>

@code {
    static Player Player => Game.LocalPawn as Player;
    static string PlayerClass => $"{Player.Class.ClassName.ToUpper()}";

    private static int GetHealthPercentage()
    {
        return (Player.Health / (Player.Class.HealthMultiplier * 100) * 100 ).CeilToInt();
    }

    private static string GetTeamClass()
    {
        return TeamSystem.GetTeam(Game.LocalClient) is Team.Blue ? "blue-team" : "red-team";
    }

    private static string GetClassIconUrl()
    {
        return Player.Class.IconPath;
    }
    
    protected override int BuildHash()
    {
        return HashCode.Combine(Player?.Health, Player?.Class.ClassName, TeamSystem.GetTeam(Game.LocalClient));
    }
}