@import "/ui/_Common.scss";

vitals {
    position: absolute;
    bottom: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 120px;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    background-color: $text;
    box-shadow: 0 0 5px rgba( black, 0.5 );
    border: 5px red;

    label {
        font-size: 64px;
        margin-left: 16px;
    }

    iconpanel {
        font-size: 64px;
    }
}

.red-team {
    vitals {
        border: $red-team;
    }
}

.blue-team {
    vitals {
        border: $blue-team;
    }
}
