@import "../Styles/_vars.scss";

vitals {
  position: absolute;
  left: $safe-area-x;
  bottom: $safe-area-y;
  
  .avatar {
    height: 200px;
    aspect-ratio: 0.87;
  }

  .border {
    height: 200px;
    aspect-ratio: 0.87;
    filter: drop-shadow( 0 0 10px rgba( black, 0.7 ) );
    z-index: 11;
  }

  .background {
    z-index: 9;
    position: absolute;
  }
  
  .avatar-img {
    z-index: 10;
    position: absolute;
    mask-image: url( /ui/misc/avatar_mask_white.png );
    mask-size: 174px 200px;
    mask-mode: luminance;
    mask-repeat: no-repeat;
  }
  
  .vitals-panel {
    background: linear-gradient( to right, $background, rgba( $background, 0 ) 95% );
    padding: 5px 10px;
    left: -90px;
    width: 400px;

    label {
      margin-left: 90px;
    }
  }
  
  .vitals-info {
    flex-direction: column;
    justify-content: center;
  }
  
  .vitals-class {
    top: 5px;
    margin-bottom: auto;
  }
  
  .vitals-health {
    width: 310px;
    left: -2px;
    align-items: center;

    .bar {
      background-color: rgba(black, 0.6);
      border-right: white;
      border-right-width: 1px;
      width: 200px;
      height: 20px;
      margin-left: 8px;
      
      .current {
        width: 50%;
        background-color: rgba(#88000E, 0.6);
        transition: all 1s ease-in-out;
      }
    }
    
    iconpanel {
      color: white;
      font-size: 26px;
    }
  }

  .vitals-name {
    margin-top: auto;
    bottom: 10px;
  }
}

.red-team {
  border-left: $red-team;
}

.blue-team {
  border-left: $blue-team;
}