@import "/ui/_Common.scss";

vitals {
    position: absolute;
    bottom: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 120px;
    padding: 10px 20px;
    border-radius: 2px;

    label {
        color: $text;
    }

    box-shadow: 0 0 5px rgba( black, 0.5 );

    label {
        font-size: 64px;
        margin-left: 16px;
    }

    iconpanel {
        font-size: 64px;
    }

    .team {
        position: absolute;
        bottom: -32px;
        font-size: 20px;
        left: -20px;
        color: white;
        text-transform: uppercase;
    }
}

.red-team {
    vitals {
        background-color: $red-team;
    }
}

.blue-team {
    vitals {
        background-color: $blue-team;
    }
}
