weaponinfo {
    position: absolute;
    right: 120px;
    bottom: 86px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    text-shadow: 0 0 5px rgba( black, 0.2 );

    .current {
        font-size: 64px;
    }

    .reserve {
        font-size: 32px;
    }
}
