@import "/ui/_Common.scss";

WipText {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;

    label.wip {
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translate( -50% );
        text-transform: uppercase;
        font-size: 24px;
    }

    .logo {
        position: absolute;
        bottom: 50px;
        left: 10px;
        width: 250px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        aspect-ratio: 1;
    }

    .website {
        position: absolute;
        bottom: 90px;
        left: $safe-area-x;
        width: 250px;
    }
}
