$red-team: #FF8B82;
$blue-team: #75FFFC;

$safe-area-x: 32px;
$safe-area-y: 32px;

$background: #333;

$z-index-world: -100;
$z-index-compass: 100;
$z-index-inventorybar: 101;
$z-index-resources: 102;
$z-index-dead: 500;
$z-index-classmenu: 501;
$z-index-shop: 502;
$z-index-messagefeed: 503;
$z-index-killfeed: 504;
$z-index-victory: 1000;
$z-index-mapvote: 1001;
$z-index-scoreboard: 1002;
$z-index-chat: 2000;
$z-index-devmenu: 3000;
$z-index-dropdown: 3001;

label.title, text.title {
    font-size: 48px;
    padding: 25px 0;
    color: white;
}

label.subtitle, text.subtitle {
    font-size: 32px;
    padding: 12px 0;
    color: white;
}

label.minititle, text.minititle {
    padding: 10px 0;
    color: white;
}

text, label {
    font-family: ChakraPetch;
    font-weight: 700;
    color: white;
    font-size: 20px;
}

icon, iconpanel {
    font-family: MaterialIconsSharp;
    color: #333;
    font-size: 20px;
}
