buildmenu {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-color: rgba( white, 0 );
    transition: all 150ms ease;
    border-radius: 100%;
    width: 25%;
    aspect-ratio: 1;
    transform: translate( -50% -50% );

    &.active {
        pointer-events: all;
        opacity: 1;
        background-color: rgba( white, 0.2 );
    }

    .inner {
        position: absolute;
        top: 96px;
        left: 96px;
        right: 96px;
        bottom: 96px;
    }

    .icon {
        border-radius: 2px;
        color: rgba( #fff, 0.5 );
        cursor: pointer;
        background-position: center;
        background-size: cover;
        border: 2px solid transparent;
        transition: all 150ms ease;
        position: absolute;
        width: 128px;
        height: 128px;
        transform: translate( -50% -50% );
        border-radius: 100%;

        label {
            font-size: 9px;
            position: absolute;
            bottom: -17px;
            left: 0;
            right: 0;
        }

        &:hover {
            border: 2px solid white;
        }
    }
}
