@import "/ui/_Common.scss";

button, dropdown {
    padding: 10px 20px;
    background-color: rgba( white, 0.5 );
    margin: 4px 0;
    border-radius: 2px;
    transition: all 150ms ease;
    align-items: center;

    iconpanel {
        margin-right: 8px;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba( white, 0.25 );
        sound-in: ui.button.over;
    }

    &:active {
        sound-in: ui.button.press;
    }

    label {
        color: #333;
    }
}

dropdown {
    margin-right: 4px;
}

DevMenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 500px;
    background-color: rgba( #333, 0.75 );
    backdrop-filter: blur( 10px );
    z-index: 1000;
    flex-direction: column;
    transform: translate( -50px );
    opacity: 0;
    padding: 10px 25px;
    transition: all 150ms ease;

    button, dropdown, label {
        flex-shrink: 0;
    }

    &.visible {
        transform: translate( 0 );
        pointer-events: all;
        opacity: 1;
    }

    .buttons {
        overflow: scroll;
        height: 100%;
        padding-bottom: 100px;
        flex-direction: column;
    }
}
