@namespace Fortwars

<style>
    Health {
        position: absolute;
        font-size: 72px;
        font-family: ChakraPetch;
        font-weight: bold;
        bottom: 64px;
        left: 64px;
        text-stroke: 2px white;
        text-shadow: 0 7px 0 black;

        .low {
            color: #611905;
        }
    }
</style>

<root>
    <label class="@HealthClasses()">
        @PlayerHealth
    </label>
</root>

@code {
    public Player Player => Game.LocalPawn as Player;

    public string PlayerHealth => $"{Player.Health:F0} HP";

    protected override int BuildHash()
    {
        return HashCode.Combine(Player?.Health);
    }

    protected string HealthClasses()
    {
        return Player.Health < 40f ? "low" : "";
    }
}