$accent: blue;

rootpanel {
    &.devcamera {
        display: none;
    }

    &.red-team {
        label, text, icon, iconpanel {
            color: #FF8B82;
        }

        inputhint .glyph {
            background-image-tint: #FF8B82;
        }
    }

    &.blue-team {
        label, text, icon, iconpanel {
            color: #75FFFC;
        }

        inputhint .glyph {
            background-image-tint: #75FFFC;
        }
    }
}

label, text {
    font-weight: 600;
    font-family: ChakraPetch;
}

icon, iconpanel {
    font-family: MaterialIconsRound;
}

.hidden {
    display: none;
    opacity: 0;
}

.popup-panel {
    background-color: rgba( white, 0.5 );
    flex-direction: column;
    color: #cfdbf2;
    transition: all 0.1s ease-out;
    position: absolute;
    z-index: 1000;
    min-height: 10px;
    min-width: 10px;
    overflow: scroll;
    border-radius: 2px;

    > .header {
        font-weight: 600;
        padding: 8px 12px;
        align-items: center;
        background-color: $accent;
        flex-shrink: 0;

        .iconpanel {
            margin-right: 10px;
            font-size: 18px;
        }
    }

    &:intro {
        transform: scale( 0 );
        pointer-events: none;
        opacity: 0;
    }

    &:outro {
        opacity: 0;
        transition: all 0.1s ease-in;
        margin-top: 50px;
        pointer-events: none;
    }

    &.below-stretch {
        transform-origin: 0% 0%;

        &:intro {
            transform: scaleY( 0.1 );
        }
    }

    &.success:outro {
        opacity: 0;
        transition: all 0.1s ease;
        margin-top: 0px;
        transform: scale( 0.7 );

        &.center-horizontal {
            transform: scale( 1.4 ) translateX( -50% );
            transform-origin: center;
        }
    }

    > .arrow-top {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -10px;
        left: 50%;
        z-index: -10;
    }

    > .canvas {
        flex-direction: column;
    }

    .information {
        padding: 16px;
        font-size: 12px;
        opacity: 0.5;
    }

    .button {
        background-color: transparent;
        border-radius: 0;
        padding: 10px 20px;
        padding-right: 24px;
        min-height: 10px;
        border: 0;
        flex-shrink: 0;
        color: black;
        font-weight: 400;
        white-space: nowrap;

        .iconpanel {
            color: $accent;
        }

        &:hover, &.active {
            background-color: rgba( black, 0.5 );
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    }
}

roundstatus {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;

    panel.round-info {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 64px;

        label {
            color: white;

            &.time {
                font-size: 72px;
                font-weight: bold;
                text-shadow: 0 0 5px rgba( black, 0.2 );
            }

            &.phase {
                font-size: 32px;
                text-transform: uppercase;
                text-shadow: 0 0 5px rgba( black, 0.2 );
            }
        }
    }

    label.score {
        background-color: rgb(80, 80, 80);
        padding: 8px 24px;
        font-size: 48px;
        box-shadow: 0 0 5px rgba( black, 0.2 );
        border-radius: 2px;
        color: white;

        &.score__blue {
            background-color: rgba(0, 0, 255, 0.8);
        }

        &.score__red {
            background-color: rgba(255, 0, 0, 0.8);
        }
    }
}
