rootpanel {
    &.devcamera {
        display: none;
    }
}

label, text {
    font-weight: 600;
    font-family: Poppins;
}

icon, iconpanel {
    font-family: MaterialIconsRound;
    font-size: 32px;
}

.hidden {
    display: none;
    opacity: 0;
}

vitals {
    position: absolute;
    bottom: 86px;
    left: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-shadow: 0 0 5px rgba( black, 0.2 );

    .health {
        font-size: 32px;
        margin-left: 8px;
    }
}

roundstatus {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;

    label {
        color: white;
    }

    panel.round-info {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: 0 64px;

        label {
            &.time {
                font-size: 72px;
                font-weight: bold;
                text-shadow: 0 0 5px rgba( black, 0.2 );
            }

            &.phase {
                font-size: 32px;
                text-transform: uppercase;
                text-shadow: 0 0 5px rgba( black, 0.2 );
            }
        }
    }

    label.score {
        background-color: rgb(80, 80, 80);
        padding: 8px 24px;
        font-size: 48px;
        box-shadow: 0 0 5px rgba( black, 0.2 );
        border-radius: 2px;

        &.score__blue {
            background-color: rgba(0, 0, 255, 0.8);
        }

        &.score__red {
            background-color: rgba(255, 0, 0, 0.8);
        }
    }
}
