@inherits Panel
@namespace Fortwars.UI

<style>

    State {
        flex-direction: column;
        position: absolute;
        font-size: 42px;
        font-family: ChakraPetch;
        font-weight: bold;
        top: 64px;
        left: 64px;
        text-stroke: 1px white;
        text-shadow: 0 3px 0 black;
    }
</style>

<root>
    <label>@GameState</label>
    <label>@Timer</label>
</root>

@code {
    public Gamemode Gamemode => GamemodeSystem.Instance;

    public string GameState => Gamemode.GetGameStateLabel();
    public string Timer => $"{Gamemode.GetTimeRemaining():F2}";

    protected override int BuildHash()
    {
        return HashCode.Combine(GameState.GetHashCode(), Timer.GetHashCode());
    }
}