@import "/ui/_Common.scss";

.pie-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-color: rgba( $background, 0 );
    transition: all 100ms ease;

    .wrapper {
        opacity: 0;
        transform: scale( 1.1 );
        transition: all 50ms ease;
        border-radius: 100%;
        width: 650px;
        height: 650px;
        aspect-ratio: 1;
        border: 128px solid $background;
        box-shadow: 0 0 25px rgba( black, 0.1 );

        pieselector {
            border-radius: 100%;
            left: -128px;
            right: -128px;
            bottom: -128px;
            top: -128px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: -1;
        }

        .center {
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 16px;
            top: 16px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba( $background, 0.5 );
            box-shadow: 0 0 25px rgba( black, 0.1 );

            label, icon.image {
                color: white;

                &.description {
                    font-size: 16px;
                    text-align: center;
                }
            }

            richlabel label {
                font-size: 16px;
            }

            .image {
                font-size: 64px;
                color: $background;
                filter: saturate( 0 );
            }

            .controls {
                inputhint {
                    margin: 0 10px;
                }

                padding-top: 8px;
            }
        }

        .inner {
            position: absolute;
            top: -64px;
            left: -64px;
            right: -64px;
            bottom: -64px;
        }

        .item-icon {
            position: absolute;
            width: 96px;
            aspect-ratio: 1;
            font-size: 64px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            color: white;
            text-align: center;
            transform: translate(-50% -50%);
            transition: all 150ms ease;
            filter: saturate( 0 );

            &.active {
                color: $background;
                background-image-tint: red;
                transform-origin: center;
                filter: saturate( 100% );
            }
        }

        .image {
            width: 96px;
            aspect-ratio: 1;
            font-size: 64px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .cursor {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: white;
        border: 2px solid gray;
        transform: translate( -50% -50% );
        display: none;
    }

    &.active {
        background-color: rgba( $background, 0.5 );
        backdrop-filter: blur( 10px );

        .wrapper {
            opacity: 1;
            transform: scale( 1.0 );

            &.shrink {
                transform: scale( 0.95 );
            }
        }

        .cursor {
            display: flex;
        }
    }
}

.red-team {
    .pie-menu .wrapper pieselector {
        background-image-tint: $red-team;
    }

    .pie-menu .wrapper .item-icon.active {
        background-image-tint: $red-team;
    }
    /*    .pie-menu .wrapper .center {
        label, icon {
            color: $red-team;
        }
    }*/
    /*.pie-menu .wrapper .center {
        background-color: $red-team;
    }*/
}

.blue-team {
    .pie-menu .wrapper pieselector {
        background-image-tint: $blue-team;
    }

    .pie-menu .wrapper .item-icon.active {
        background-image-tint: $blue-team;
    }
    /*.pie-menu .wrapper .center {
        background-color: $blue-team;
    }*/
}
