bubble {
    position: absolute;
    top: -40px;
    right: 150px;
    background-color: #ffffe100;
    border-image: url( /ui/assistant/bubble.png ) 34;

    label {
        padding: 0 0 15px 0;
        margin: -15px;
        flex-grow: 1;
        background-color: #ffffe1;
        font-family: Tahoma;
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
}
