@import "/UI/_Common.scss";

FallbackScope {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-image: url( textures/sniper_reticle_fallback.png );
    background-position: center;
    background-repeat: no-repeat;

    &.visible {
        opacity: 1;
    }
}
