@import "/ui/menus/_Common.scss";

ClassMenu {
    background-color: red;
    transition: all 150ms ease;

    &:intro, &:outro {
        opacity: 0;
        transform: scale( 1.1 );
    }
}

.main {
    height: 50%;
    width: 100%;
    flex-grow: 1;
    margin: -50px 0;

    ClassPreviewPanel, ClassPreviewPanel > ScenePanel {
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }
}

.cancel {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

ClassInfo {
    position: absolute;
    top: 50%;
    left: 75px;
    width: 400px;
    flex-direction: column;
    transform: translate( 0 -50% );
}

button {
    background-color: rgba( white, 0.2 );
    margin: 0px 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: all 150ms ease;
    flex-direction: column-reverse;

    iconpanel {
        color: white;
        margin-right: 8px;
    }

    &:hover {
        cursor: pointer;
        border: white;
    }
}

.classes {
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: linear-gradient( to bottom, black 0%, black 25%, rgba( black, 0 ) );
    padding: 100px 0;
    padding-top: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    button.class {
        flex-direction: column-reverse;

        .class-count {
            position: absolute;
            bottom: -32px;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}
