@import "/ui/menus/_Common.scss";

ClassMenu {
    background-color: red;
    transition: all 150ms ease;
    flex-direction: row;

    &:intro, &:outro {
        opacity: 0;
        transform: scale( 1.1 );
    }

    .title {
        width: 100%;
        text-align: center;
    }

    .main {
        width: 100%;
        height: 100%;
    }
}

ClassPreviewPanel {
    right: 0;
    position: relative;
    width: 50%;

    ScenePanel {
        width: 100%;
        height: 100%;
    }

    border: rgba( black, 0.2 );
    border-left: 2px;
    border-right: 2px;
    margin: 0 32px;
}

.cancel {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

ClassInfo {
    width: 33%;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: rgba( black, 0.2 );
    margin: 5px 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 2px solid rgba( black, 0.25 );
    transition: all 150ms ease;

    iconpanel {
        color: white;
        margin-right: 8px;
    }

    &:hover {
        cursor: pointer;
        border: white;
    }
}

.classes {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33%;

    button.class {
        flex-direction: row-reverse;
        height: 100px;
        width: 100%;

        .inner {
            width: 100%;
            height: 100%;
            justify-content: center;
            flex-direction: column;
            margin-left: 100px;

            .name {
                font-size: 24px;
            }
            
            .description {
                color: rgba( white, 0.75 );
            }
        }

        .class-icon {
            height: 150%;
            left: 0;
            position: absolute;
        }
    }
}
