@import "/UI/_Common.scss";

NameTag {
    position: absolute;
    color: white;
    transform-origin: 50% 0%;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    .inner {
        height: 85%;
        width: 100%;
        background-color: rgba( $background, 0.5 );
        border-radius: 2px;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;

        label.title {
            text-align: center;
            font-size: 32px;
        }

        .avatar {
            position: absolute;
            left: 10px;
            height: 80%;
            aspect-ratio: 1;
            margin: 2px;
            border-radius: 100%;
            background-size: cover;
            background-position: center;
        }
    }

    .health-bar {
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 10%;
        background: linear-gradient( to right, #02F049, #02B036 );
    }
}
